/proj_gradient_analysis/source_data/
/proj_less/LESS/wandb/
proj_less/grads/llama2-7b-p0.05-lora-seed3/ASDiv-ckpt4-sgd/dim1/grads-160.pt
proj_less/grads/llama2-7b-p0.05-lora-seed3/ASDiv-ckpt4-sgd/dim8192/all_orig.pt
proj_less/grads/llama2-7b-p0.05-lora-seed3/ASDiv-ckpt4-sgd/dim8192/all_unormalized.pt
proj_less/grads/llama2-7b-p0.05-lora-seed3/code_high-ckpt4-adam/dim1/grads-160.pt
proj_less/grads/llama2-7b-p0.05-lora-seed3/code_high-ckpt4-adam/dim8192/all_orig.pt
proj_less/grads/llama2-7b-p0.05-lora-seed3/code_high-ckpt4-adam/dim8192/all_unormalized.pt
proj_less/grads/llama2-7b-p0.05-lora-seed3/code_high-ckpt4-adam/dim8192/grads-160.pt
proj_less/grads/llama2-7b-p0.05-lora-seed3/code_high-ckpt4-adam/dim8192/grads-320.pt
proj_less/grads/llama2-7b-p0.05-lora-seed3/code_high-ckpt4-adam/dim8192/grads-480.pt
proj_less/grads/llama2-7b-p0.05-lora-seed3/code_high-ckpt4-adam/dim8192/grads-640.pt
proj_less/grads/llama2-7b-p0.05-lora-seed3/code_high-ckpt4-adam/dim8192/grads-800.pt
proj_less/grads/llama2-7b-p0.05-lora-seed3/code_high-ckpt4-adam/dim8192/grads-870.pt
proj_less/LESS/less.egg-info/dependency_links.txt
proj_less/LESS/less.egg-info/PKG-INFO
proj_less/LESS/less.egg-info/requires.txt
proj_less/LESS/less.egg-info/SOURCES.txt
proj_less/LESS/less.egg-info/top_level.txt
proj_less/out/llama2-7b-p0.05-lora-seed3/adapter_config.json
proj_less/out/llama2-7b-p0.05-lora-seed3/adapter_model.safetensors
proj_less/out/llama2-7b-p0.05-lora-seed3/all_results.json
proj_less/out/llama2-7b-p0.05-lora-seed3/README.md
proj_less/out/llama2-7b-p0.05-lora-seed3/special_tokens_map.json
proj_less/out/llama2-7b-p0.05-lora-seed3/tokenizer_config.json
proj_less/out/llama2-7b-p0.05-lora-seed3/tokenizer.json
proj_less/out/llama2-7b-p0.05-lora-seed3/train_results.json
proj_less/out/llama2-7b-p0.05-lora-seed3/trainer_state.json
proj_less/out/llama2-7b-p0.05-lora-seed3/training_args.bin
proj_less/out/llama2-7b-p0.05-lora-seed3/checkpoint-12/adapter_config.json
proj_less/out/llama2-7b-p0.05-lora-seed3/checkpoint-12/adapter_model.safetensors
proj_less/out/llama2-7b-p0.05-lora-seed3/checkpoint-12/optimizer.bin
proj_less/out/llama2-7b-p0.05-lora-seed3/checkpoint-12/pytorch_model_fsdp.bin
proj_less/out/llama2-7b-p0.05-lora-seed3/checkpoint-12/README.md
proj_less/out/llama2-7b-p0.05-lora-seed3/checkpoint-12/rng_state.pth
proj_less/out/llama2-7b-p0.05-lora-seed3/checkpoint-12/scheduler.pt
proj_less/out/llama2-7b-p0.05-lora-seed3/checkpoint-12/special_tokens_map.json
proj_less/out/llama2-7b-p0.05-lora-seed3/checkpoint-12/tokenizer_config.json
proj_less/out/llama2-7b-p0.05-lora-seed3/checkpoint-12/tokenizer.json
proj_less/out/llama2-7b-p0.05-lora-seed3/checkpoint-12/trainer_state.json
proj_less/out/llama2-7b-p0.05-lora-seed3/checkpoint-12/training_args.bin
proj_less/out/llama2-7b-p0.05-lora-seed3/checkpoint-16/adapter_config.json
proj_less/out/llama2-7b-p0.05-lora-seed3/checkpoint-16/adapter_model.safetensors
proj_less/out/llama2-7b-p0.05-lora-seed3/checkpoint-16/optimizer.bin
proj_less/out/llama2-7b-p0.05-lora-seed3/checkpoint-16/pytorch_model_fsdp.bin
proj_less/out/llama2-7b-p0.05-lora-seed3/checkpoint-16/README.md
proj_less/out/llama2-7b-p0.05-lora-seed3/checkpoint-16/rng_state.pth
proj_less/out/llama2-7b-p0.05-lora-seed3/checkpoint-16/scheduler.pt
proj_less/out/llama2-7b-p0.05-lora-seed3/checkpoint-16/special_tokens_map.json
proj_less/out/llama2-7b-p0.05-lora-seed3/checkpoint-16/tokenizer_config.json
proj_less/out/llama2-7b-p0.05-lora-seed3/checkpoint-16/tokenizer.json
proj_less/out/llama2-7b-p0.05-lora-seed3/checkpoint-16/trainer_state.json
proj_less/out/llama2-7b-p0.05-lora-seed3/checkpoint-16/training_args.bin
proj_less/out/llama2-7b-p0.05-lora-seed3/checkpoint-4/adapter_config.json
proj_less/out/llama2-7b-p0.05-lora-seed3/checkpoint-4/adapter_model.safetensors
proj_less/out/llama2-7b-p0.05-lora-seed3/checkpoint-4/optimizer.bin
proj_less/out/llama2-7b-p0.05-lora-seed3/checkpoint-4/pytorch_model_fsdp.bin
proj_less/out/llama2-7b-p0.05-lora-seed3/checkpoint-4/README.md
proj_less/out/llama2-7b-p0.05-lora-seed3/checkpoint-4/rng_state.pth
proj_less/out/llama2-7b-p0.05-lora-seed3/checkpoint-4/scheduler.pt
proj_less/out/llama2-7b-p0.05-lora-seed3/checkpoint-4/special_tokens_map.json
proj_less/out/llama2-7b-p0.05-lora-seed3/checkpoint-4/tokenizer_config.json
proj_less/out/llama2-7b-p0.05-lora-seed3/checkpoint-4/tokenizer.json
proj_less/out/llama2-7b-p0.05-lora-seed3/checkpoint-4/trainer_state.json
proj_less/out/llama2-7b-p0.05-lora-seed3/checkpoint-4/training_args.bin
proj_less/out/llama2-7b-p0.05-lora-seed3/checkpoint-8/adapter_config.json
proj_less/out/llama2-7b-p0.05-lora-seed3/checkpoint-8/adapter_model.safetensors
proj_less/out/llama2-7b-p0.05-lora-seed3/checkpoint-8/optimizer.bin
proj_less/out/llama2-7b-p0.05-lora-seed3/checkpoint-8/pytorch_model_fsdp.bin
proj_less/out/llama2-7b-p0.05-lora-seed3/checkpoint-8/README.md
proj_less/out/llama2-7b-p0.05-lora-seed3/checkpoint-8/rng_state.pth
proj_less/out/llama2-7b-p0.05-lora-seed3/checkpoint-8/scheduler.pt
proj_less/out/llama2-7b-p0.05-lora-seed3/checkpoint-8/special_tokens_map.json
proj_less/out/llama2-7b-p0.05-lora-seed3/checkpoint-8/tokenizer_config.json
proj_less/out/llama2-7b-p0.05-lora-seed3/checkpoint-8/tokenizer.json
proj_less/out/llama2-7b-p0.05-lora-seed3/checkpoint-8/trainer_state.json
proj_less/out/llama2-7b-p0.05-lora-seed3/checkpoint-8/training_args.bin
